// Here you can add other styles

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.c-sidebar-nav-link {
  font-family: 'Inter', 'Mulish', sans-serif;
  font-weight: 500;
}

.c-sidebar-brand {
  justify-content: flex-start;
  padding: 0.8445rem 1rem;
}

.logoDiv {
  display: flex;
}

.outside-card-title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.card {
  background-color: transparent;
  border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: white;
  font-weight: 600;
  color: black;
  border: none;
}

.nav-tabs .nav-link {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  padding: 0.75rem 2rem;
  font-size: 17px;
}

.addpro-custom-card {
  padding: 2.5rem 1.5rem;
  background-color: white;

  &.sm-pd {
    padding: 1rem 1.5rem;
  }
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.card-body {
  padding: 1.25rem 0;
}

label {
  font-size: 17px;
  font-weight: 600;
}

.form-control,
.custom-select {
  font-size: 16px;
}

.custom-control-inline {
  margin-right: 2rem;
}

.btn-dark {
  background-color: #121212;
}

.variant-form-table {
  overflow-x: auto;
  overflow-y: auto;
  .heading {
    color: #3a4966;
    font-weight: 700;
    padding-bottom: 1.5rem;
    white-space: nowrap;
  }
  .divider {
    border: 1.5px solid #dfe0eb;
    width: 100%;
  }
  .variant-attributes {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .text-bold {
    font-weight: bold;
  }
}

.closeButton {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;

  button {
    background-color: transparent;
    border-style: none;
    color: white;
  }
}

table {
  text-align: center;
}

.c-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-table-container {
  width: '100%';
  height: '100%';
  padding: 20px;

  .table-card {
    background-color: white;
    padding: 2.5rem 1.5rem;
  }
}

.CustomRow {
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.HeaderClass {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 500;
}

.VariantRow {
  background-color: rgba(0, 0, 0, 0.03);
}

.react-bootstrap-table table {
  table-layout: auto;
}
