// Here you can add other styles

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.c-sidebar-brand {
  justify-content: flex-start;
  padding: 0.8445rem 1rem;
}

.logoDiv {
  display: flex;
}

.outside-card-title {
  font-weight: 700;
  color: black;
}

.card {
  background-color: transparent;
  border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: white;
  font-weight: 600;
  color: black;
  border: none;
}

.nav-tabs .nav-link {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  padding: 0.75rem 2rem;
  font-size: 17px;
}

.addpro-custom-card {
  padding: 2.5rem 1.5rem;
  background-color: white;

  &.sm-pd {
    padding: 1rem 1.5rem;
  }
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.card-body {
  padding: 1.25rem 0;
}

label {
  font-size: 17px;
  font-weight: 600;
}

.form-control,
.custom-select {
  font-size: 16px;
}

.custom-control-inline {
  margin-right: 2rem;
}

.btn-dark {
  background-color: black;
}
